/* cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr4fIA9c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrcfIA9c.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrAfIA9c.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrwfIA9c.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDr0fIA9c.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Exo 2 Regular"), local("Exo2-Regular"), url(../fonts/7cHmv4okm5zmbtYlK-4E4Q.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Exo 2 Regular"), local("Exo2-Regular"), url(../fonts/7cHmv4okm5zmbtYsK-4E4Q.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Exo 2 Regular"), local("Exo2-Regular"), url(../fonts/7cHmv4okm5zmbtYnK-4E4Q.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Exo 2 Regular"), local("Exo2-Regular"), url(../fonts/7cHmv4okm5zmbtYmK-4E4Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Exo 2 Regular"), local("Exo2-Regular"), url(../fonts/7cHmv4okm5zmbtYoK-4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lobster Regular"), local("Lobster-Regular"), url(../fonts/neILzCirqoswsqX9zo-mM5Ez.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lobster Regular"), local("Lobster-Regular"), url(../fonts/neILzCirqoswsqX9zoamM5Ez.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lobster Regular"), local("Lobster-Regular"), url(../fonts/neILzCirqoswsqX9zo2mM5Ez.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lobster Regular"), local("Lobster-Regular"), url(../fonts/neILzCirqoswsqX9zoymM5Ez.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lobster Regular"), local("Lobster-Regular"), url(../fonts/neILzCirqoswsqX9zoKmMw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box !important;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  height: 100%;
}

/* line 8, ../sass/partials/_layout.scss */
.section-top-fit, .error-s1, .index-s1, .user-s1 {
  height: calc(50vh - 0px);
  height: -o-calc(50vh - 0px);
  height: -moz-calc(50vh - 0px);
  height: -webkit-calc(50vh - 0px);
}

/* line 29, ../sass/partials/_mixins.scss */
.about-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.contact-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.cosmetic-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.diagnostic-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.index-s4 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.prevention-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.privacy-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.sedative-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.services-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.surgical-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.user-s1 {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.index-s2 {
  min-height: 33vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.index-s3 {
  min-height: 33vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.index-s5 {
  min-height: 33vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.index-s6 {
  min-height: 33vh;
}

/* line 29, ../sass/partials/_mixins.scss */
.index-s7 {
  min-height: 33vh;
}

/* line 3, ../sass/partials/_modules.scss */
.about-s1__r1-col-left {
  background-image: url(../img/index-s5/index-s5-left-bg-xs.png);
  background-position: left center;
  background-size: cover;
}
/* line 8, ../sass/partials/_modules.scss */
.about-s1__r2-col-left {
  background-image: url(../img/about-s1/about-s1-r2-left-bg-xs.png);
  background-position: left center;
  background-size: cover;
}
/* line 13, ../sass/partials/_modules.scss */
.about-s1__r3-col-left {
  background-image: url(../img/about-s1/about-s1-r3-left-bg-xs.png);
  background-position: left center;
  background-size: cover;
}
/* line 18, ../sass/partials/_modules.scss */
.about-s1__r4-col-left {
  background-image: url(../img/about-s1/about-s1-r4-left-bg-xs.png);
  background-position: left center;
  background-size: cover;
}

/* line 24, ../sass/partials/_modules.scss */
.bg-contain {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

/* line 31, ../sass/partials/_modules.scss */
.border-bold {
  border-width: 3px !important;
}
/* line 34, ../sass/partials/_modules.scss */
.border-gray {
  border-color: #ddd !important;
}
/* line 37, ../sass/partials/_modules.scss */
.border-green {
  border-color: #b2ef1b !important;
}

/* line 42, ../sass/partials/_modules.scss */
.cosmetic-s1 {
  background-image: url(../img/cosmetic-s1/cosmetic-s1-bg-xs.jpg);
  background-position: left center;
  background-size: cover;
}

/* line 47, ../sass/partials/_modules.scss */
.diagnostic-s1 {
  background-image: url(../img/diagnostic-s1/diagnostic-s1-bg-xs.jpg);
  background-position: left center;
  background-size: cover;
}

/* line 52, ../sass/partials/_modules.scss */
.font-header {
  font-family: "Exo 2";
}
/* line 55, ../sass/partials/_modules.scss */
.font-logo {
  font-family: "Lobster";
}
/* line 58, ../sass/partials/_modules.scss */
.font-menu {
  font-family: "Exo 2";
}
/* line 61, ../sass/partials/_modules.scss */
.font-text {
  font-family: "Comfortaa";
}

/* line 66, ../sass/partials/_modules.scss */
.img-fit {
  height: 100% !important;
  object-fit: cover !important;
  width: 100% !important;
}

/* line 74, ../sass/partials/_modules.scss */
.index-s4__col-left {
  background-image: url(../img/index-s4/index-s4-left-bg.jpg);
  background-position: left center;
  background-size: cover;
}
/* line 77, ../sass/partials/_modules.scss */
.index-s4__col-right {
  background-image: url(../img/index-s4/index-s4-right-bg.jpg);
  background-position: left center;
  background-size: cover;
}
/* line 82, ../sass/partials/_modules.scss */
.index-s5__col-left {
  background-image: url(../img/index-s5/index-s5-left-bg-xs.png);
  background-position: left center;
  background-size: cover;
}

/* line 87, ../sass/partials/_modules.scss */
.input-transparent {
  background-color: transparent;
  border-width: 0;
}

/* line 93, ../sass/partials/_modules.scss */
.min-vh-25 {
  min-height: 25vh;
}
/* line 96, ../sass/partials/_modules.scss */
.min-vh-50 {
  min-height: 50vh;
}
/* line 99, ../sass/partials/_modules.scss */
.min-vh-100 {
  min-height: 100vh;
}

/* line 104, ../sass/partials/_modules.scss */
.navbar {
  padding: 0px;
}
/* line 105, ../sass/partials/_modules.scss */
.navbar-brand {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 109, ../sass/partials/_modules.scss */
.navbar-toggler {
  border-color: #b2ef1b !important;
}
/* line 111, ../sass/partials/_modules.scss */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(178,239,27)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
/* line 116, ../sass/partials/_modules.scss */
.navbar .nav-item {
  cursor: pointer;
}
/* line 117, ../sass/partials/_modules.scss */
.navbar .nav-item:hover {
  background-color: #82b10c !important;
}
/* line 120, ../sass/partials/_modules.scss */
.navbar .nav-item.active {
  background-color: #eafbc2;
}
/* line 125, ../sass/partials/_modules.scss */
.navbar .nav-link {
  padding-bottom: 18px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 18px;
}
/* line 126, ../sass/partials/_modules.scss */
.navbar .nav-link:hover {
  color: #fff !important;
}

/* line 138, ../sass/partials/_modules.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 141, ../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 144, ../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 149, ../sass/partials/_modules.scss */
.prevention-s1 {
  background-image: url(../img/prevention-s1/prevention-s1-bg-xs.jpg);
  background-position: left center;
  background-size: cover;
}

/* line 154, ../sass/partials/_modules.scss */
.restorative-s1 {
  background-image: url(../img/restorative-s1/restorative-s1-bg-xs.jpg);
  background-position: left center;
  background-size: cover;
}

/* line 159, ../sass/partials/_modules.scss */
.sedative-s1 {
  background-image: url(../img/services-s1/services-s1-bg-xs.jpg);
  background-position: left center;
  background-size: cover;
}

/* line 164, ../sass/partials/_modules.scss */
.services-s1 {
  background-image: url(../img/services-s1/services-s1-bg-xs.jpg);
  background-position: left center;
  background-size: cover;
}

/* line 169, ../sass/partials/_modules.scss */
.surgical-s1 {
  background-image: url(../img/surgical-s1/surgical-s1-bg-xs.jpg);
  background-position: left center;
  background-size: cover;
}

/* line 174, ../sass/partials/_modules.scss */
.text-green {
  color: #93c90e !important;
}
/* line 177, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 0 0 4px #222;
}
/* line 178, ../sass/partials/_modules.scss */
.text-shadow-light {
  text-shadow: 0 1px 2px #ccc;
}

/* line 185, ../sass/partials/_modules.scss */
.textarea {
  height: 150px !important;
  resize: none;
}

/* line 190, ../sass/partials/_modules.scss */
.tile {
  color: #fff;
  text-decoration: none;
}
/* line 191, ../sass/partials/_modules.scss */
.tile:hover {
  color: #b2ef1b;
}
/* line 192, ../sass/partials/_modules.scss */
.tile:hover img {
  filter: blur(3px);
}

/* line 201, ../sass/partials/_modules.scss */
body {
  background-image: url(../img/body-bg.jpg);
  background-repeat: repeat;
}

@media all and (min-width: 576px) {
  /* line 208, ../sass/partials/_modules.scss */
  .about-s1__r1-col-left {
    background-image: url(../img/index-s5/index-s5-left-bg-sm.png);
    background-position: left center;
    background-size: cover;
  }
  /* line 213, ../sass/partials/_modules.scss */
  .about-s1__r2-col-left {
    background-image: url(../img/about-s1/about-s1-r2-left-bg-sm.png);
    background-position: left center;
    background-size: cover;
  }
  /* line 218, ../sass/partials/_modules.scss */
  .about-s1__r3-col-left {
    background-image: url(../img/about-s1/about-s1-r3-left-bg-sm.png);
    background-position: left center;
    background-size: cover;
  }
  /* line 223, ../sass/partials/_modules.scss */
  .about-s1__r4-col-left {
    background-image: url(../img/about-s1/about-s1-r4-left-bg-sm.png);
    background-position: left center;
    background-size: cover;
  }

  /* line 229, ../sass/partials/_modules.scss */
  .bg-contain {
    background-position: center top !important;
  }

  /* line 234, ../sass/partials/_modules.scss */
  .cosmetic-s1 {
    background-image: url(../img/cosmetic-s1/cosmetic-s1-bg-sm.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 239, ../sass/partials/_modules.scss */
  .diagnostic-s1 {
    background-image: url(../img/diagnostic-s1/diagnostic-s1-bg-sm.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 245, ../sass/partials/_modules.scss */
  .index-s5__col-left {
    background-image: url(../img/index-s5/index-s5-left-bg-sm.png);
    background-position: left center;
    background-size: cover;
  }

  /* line 251, ../sass/partials/_modules.scss */
  .prevention-s1 {
    background-image: url(../img/prevention-s1/prevention-s1-bg-sm.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 256, ../sass/partials/_modules.scss */
  .restorative-s1 {
    background-image: url(../img/restorative-s1/restorative-s1-bg-sm.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 261, ../sass/partials/_modules.scss */
  .sedative-s1 {
    background-image: url(../img/sedative-s1/sedative-s1-bg-sm.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 266, ../sass/partials/_modules.scss */
  .services-s1 {
    background-image: url(../img/services-s1/services-s1-bg-sm.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 271, ../sass/partials/_modules.scss */
  .surgical-s1 {
    background-image: url(../img/surgical-s1/surgical-s1-bg-sm.jpg);
    background-position: left center;
    background-size: cover;
  }
}
@media all and (min-width: 768px) {
  /* line 280, ../sass/partials/_modules.scss */
  .about-s1__r1-col-left {
    background-image: url(../img/index-s5/index-s5-left-bg-md.png);
    background-position: left center;
    background-size: cover;
  }
  /* line 285, ../sass/partials/_modules.scss */
  .about-s1__r2-col-left {
    background-image: url(../img/about-s1/about-s1-r2-left-bg-md.png);
    background-position: left center;
    background-size: cover;
  }
  /* line 290, ../sass/partials/_modules.scss */
  .about-s1__r3-col-left {
    background-image: url(../img/about-s1/about-s1-r3-left-bg-md.png);
    background-position: left center;
    background-size: cover;
  }
  /* line 295, ../sass/partials/_modules.scss */
  .about-s1__r4-col-left {
    background-image: url(../img/about-s1/about-s1-r4-left-bg-md.png);
    background-position: left center;
    background-size: cover;
  }

  /* line 301, ../sass/partials/_modules.scss */
  .cosmetic-s1 {
    background-image: url(../img/cosmetic-s1/cosmetic-s1-bg-md.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 306, ../sass/partials/_modules.scss */
  .diagnostic-s1 {
    background-image: url(../img/diagnostic-s1/diagnostic-s1-bg-md.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 312, ../sass/partials/_modules.scss */
  .index-s5__col-left {
    background-image: url(../img/index-s5/index-s5-left-bg-md.png);
    background-position: left center;
    background-size: cover;
  }

  /* line 317, ../sass/partials/_modules.scss */
  .navbar {
    padding: 0px;
  }
  /* line 319, ../sass/partials/_modules.scss */
  .navbar .nav-item {
    cursor: pointer;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 320, ../sass/partials/_modules.scss */
  .navbar .nav-item:hover, .navbar .nav-item.active {
    background-color: #fff !important;
    border-bottom: 3px solid #b2ef1b;
    padding-bottom: 0px;
  }
  /* line 331, ../sass/partials/_modules.scss */
  .navbar .nav-link {
    padding-bottom: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 18px;
  }
  /* line 332, ../sass/partials/_modules.scss */
  .navbar .nav-link:hover {
    color: #b2ef1b !important;
  }

  /* line 344, ../sass/partials/_modules.scss */
  .prevention-s1 {
    background-image: url(../img/prevention-s1/prevention-s1-bg-md.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 349, ../sass/partials/_modules.scss */
  .restorative-s1 {
    background-image: url(../img/restorative-s1/restorative-s1-bg-md.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 354, ../sass/partials/_modules.scss */
  .sedative-s1 {
    background-image: url(../img/sedative-s1/sedative-s1-bg-md.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 359, ../sass/partials/_modules.scss */
  .services-s1 {
    background-image: url(../img/services-s1/services-s1-bg-md.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 364, ../sass/partials/_modules.scss */
  .surgical-s1 {
    background-image: url(../img/surgical-s1/surgical-s1-bg-md.jpg);
    background-position: left center;
    background-size: cover;
  }
}
@media all and (min-width: 992px) {
  /* line 372, ../sass/partials/_modules.scss */
  .cosmetic-s1 {
    background-image: url(../img/cosmetic-s1/cosmetic-s1-bg-lg.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 377, ../sass/partials/_modules.scss */
  .diagnostic-s1 {
    background-image: url(../img/diagnostic-s1/diagnostic-s1-bg-lg.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 382, ../sass/partials/_modules.scss */
  .prevention-s1 {
    background-image: url(../img/prevention-s1/prevention-s1-bg-lg.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 387, ../sass/partials/_modules.scss */
  .restorative-s1 {
    background-image: url(../img/restorative-s1/restorative-s1-bg-lg.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 392, ../sass/partials/_modules.scss */
  .sedative-s1 {
    background-image: url(../img/sedative-s1/sedative-s1-bg-lg.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 397, ../sass/partials/_modules.scss */
  .services-s1 {
    background-image: url(../img/services-s1/services-s1-bg-lg.jpg);
    background-position: left center;
    background-size: cover;
  }

  /* line 402, ../sass/partials/_modules.scss */
  .surgical-s1 {
    background-image: url(../img/surgical-s1/surgical-s1-bg-lg.jpg);
    background-position: left center;
    background-size: cover;
  }
}
