.about{
    &-s1__r1-col{
        &-left{
            @include set-background($about-s1__r1-col-left-bg-xs);
        }
    }
    &-s1__r2-col{
        &-left{
            @include set-background($about-s1__r2-col-left-bg-xs);
        }
    }
    &-s1__r3-col{
        &-left{
            @include set-background($about-s1__r3-col-left-bg-xs);
        }
    }
    &-s1__r4-col{
        &-left{
            @include set-background($about-s1__r4-col-left-bg-xs);
        }
    }
}
.bg{
    &-contain{
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }
}
.border{
    &-bold{
        border-width: $border-bold-size !important;
    }
    &-gray{
        border-color: $color-gray !important;
    }
    &-green{
        border-color: $color-green !important;
    }
}
.cosmetic{
    &-s1{
        @include set-background($cosmetic-s1-bg-xs);
    }
}
.diagnostic{
    &-s1{
        @include set-background($diagnostic-s1-bg-xs);
    }
}
.font{
    &-header{
        font-family: $font-header;
    }
    &-logo{
        font-family: $font-logo;
    }
    &-menu{
        font-family: $font-menu;
    }
    &-text{
        font-family: $font-text;
    }
}
.img{
    &-fit{
        height: 100% !important; 
        object-fit: cover !important;
        width: 100% !important;
    }
}
.index{
    &-s4__col{
        &-left{
            @include set-background($index-s4__col-left-bg);
        }
        &-right{
            @include set-background($index-s4__col-right-bg);
        }
    }
    &-s5__col{
        &-left{
            @include set-background($index-s5__col-left-bg-xs);
        }
    }
}
.input-transparent{
    background-color: transparent;
    border-width: 0;
}
.min{
    &-vh{
        &-25{
            min-height: 25vh;
        }
        &-50{
            min-height: 50vh;
        }
    }
}
.navbar{
    &-brand{
        padding-bottom: $navbar-brand-padding-y;
        padding-top: $navbar-brand-padding-y;
    }
    &-toggler{
        border-color: $color-green !important;
        &-icon{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(178,239,27)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
        }
    }
    .nav{
        &-item{
            &:hover{
                background-color: darken($color-green,15%) !important;
            }
            &.active{
                background-color: lighten($color-green,35%);
            }
            cursor: pointer;
        }
        &-link{
            &:hover{
                color: $color-wht !important;
            }
            padding-bottom: $nav-link-padding-y;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: $nav-link-padding-y;
        }
    }
    padding: 0px;
}
.opacity{
    &-7{
        opacity: 0.7;
    }
    &-8{
        opacity: 0.8;
    } 
    &-9{
        opacity: 0.9;
    }  
}
.prevention{
    &-s1{
        @include set-background($prevention-s1-bg-xs);
    }
}
.restorative{
    &-s1{
        @include set-background($restorative-s1-bg-xs);
    }
}
.sedative{
    &-s1{
        @include set-background($services-s1-bg-xs);
    }
}
.services{
    &-s1{
        @include set-background($services-s1-bg-xs);
    }
}
.surgical{
    &-s1{
        @include set-background($surgical-s1-bg-xs);
    }
}
.text{
    &-green{
        color: $color-text-green !important;
    }
    &-shadow{
        &-light{
            text-shadow: 0 1px 2px $color-light-gray;
        }
        text-shadow: 0 0 4px $color-blk;
    }
}

.textarea{
    height: 150px !important;
    resize: none;
}

.tile{
    &:hover{
        img{
            filter: blur(3px);
        }
        color: $color-green;
    }
    color: $color-wht;
    text-decoration: none;
}

body{
    @include fill-background($body-bg);
}

@media all and (min-width:576px){
    .about{
        &-s1__r1-col{
            &-left{
                @include set-background($about-s1__r1-col-left-bg-sm);
            }
        }
        &-s1__r2-col{
            &-left{
                @include set-background($about-s1__r2-col-left-bg-sm);
            }
        }
        &-s1__r3-col{
            &-left{
                @include set-background($about-s1__r3-col-left-bg-sm);
            }
        }
        &-s1__r4-col{
            &-left{
                @include set-background($about-s1__r4-col-left-bg-sm);
            }
        }
    }
    .bg{
        &-contain{
            background-position: center top !important;
        }
    }
    .cosmetic{
        &-s1{
            @include set-background($cosmetic-s1-bg-sm);
        }
    }
    .diagnostic{
        &-s1{
            @include set-background($diagnostic-s1-bg-sm);
        }
    }
    .index{
        &-s5__col{
            &-left{
                @include set-background($index-s5__col-left-bg-sm);
            }
        }
    }
    .prevention{
        &-s1{
            @include set-background($prevention-s1-bg-sm);
        }
    }
    .restorative{
        &-s1{
            @include set-background($restorative-s1-bg-sm);
        }
    }
    .sedative{
        &-s1{
            @include set-background($sedative-s1-bg-sm);
        }
    }
    .services{
        &-s1{
            @include set-background($services-s1-bg-sm);
        }
    }
    .surgical{
        &-s1{
            @include set-background($surgical-s1-bg-sm);
        }
    }
}

@media all and (min-width: 768px){
    .about{
        &-s1__r1-col{
            &-left{
                @include set-background($about-s1__r1-col-left-bg-md);
            }
        }
        &-s1__r2-col{
            &-left{
                @include set-background($about-s1__r2-col-left-bg-md);
            }
        }
        &-s1__r3-col{
            &-left{
                @include set-background($about-s1__r3-col-left-bg-md);
            }
        }
        &-s1__r4-col{
            &-left{
                @include set-background($about-s1__r4-col-left-bg-md);
            }
        }
    }
    .cosmetic{
        &-s1{
            @include set-background($cosmetic-s1-bg-md);
        }
    }
    .diagnostic{
        &-s1{
            @include set-background($diagnostic-s1-bg-md);
        }
    }
    .index{
        &-s5__col{
            &-left{
                @include set-background($index-s5__col-left-bg-md);
            }
        }
    }
    .navbar{
        .nav{
            &-item{
                &:hover, &.active{
                    background-color: $color-wht !important;
                    border-bottom: $nav-item-active-border-size $nav-item-active-border;
                    padding-bottom: 0px;
                }
                cursor: pointer;
                padding-bottom: $nav-item-active-border-size;
                padding-left: 0px;
                padding-right: 0px;

            }
            &-link{
                &:hover{
                    color: $color-green !important;
                }
                padding-bottom: $nav-link-padding-y;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: $nav-link-padding-y;
            }
        }
        padding: 0px;
    }
    .prevention{
        &-s1{
            @include set-background($prevention-s1-bg-md);
        }
    }
    .restorative{
        &-s1{
            @include set-background($restorative-s1-bg-md);
        }
    }
    .sedative{
        &-s1{
            @include set-background($sedative-s1-bg-md);
        }
    }
    .services{
        &-s1{
            @include set-background($services-s1-bg-md);
        }
    }
    .surgical{
        &-s1{
            @include set-background($surgical-s1-bg-md);
        }
    }
}

@media all and (min-width: 992px){
    .cosmetic{
        &-s1{
            @include set-background($cosmetic-s1-bg-lg);
        }
    }
    .diagnostic{
        &-s1{
            @include set-background($diagnostic-s1-bg-lg);
        }
    }
    .prevention{
        &-s1{
            @include set-background($prevention-s1-bg-lg);
        }
    }
    .restorative{
        &-s1{
            @include set-background($restorative-s1-bg-lg);
        }
    }
    .sedative{
        &-s1{
            @include set-background($sedative-s1-bg-lg);
        }
    }
    .services{
        &-s1{
            @include set-background($services-s1-bg-lg);
        }
    }
    .surgical{
        &-s1{
            @include set-background($surgical-s1-bg-lg);
        }
    }
}