$about-s1__r1-col-left-bg-xs: "../img/index-s5/index-s5-left-bg-xs.png";
$about-s1__r1-col-left-bg-sm: "../img/index-s5/index-s5-left-bg-sm.png";
$about-s1__r1-col-left-bg-md: "../img/index-s5/index-s5-left-bg-md.png";
$about-s1__r2-col-left-bg-xs: "../img/about-s1/about-s1-r2-left-bg-xs.png";
$about-s1__r2-col-left-bg-sm: "../img/about-s1/about-s1-r2-left-bg-sm.png";
$about-s1__r2-col-left-bg-md: "../img/about-s1/about-s1-r2-left-bg-md.png";
$about-s1__r3-col-left-bg-xs: "../img/about-s1/about-s1-r3-left-bg-xs.png";
$about-s1__r3-col-left-bg-sm: "../img/about-s1/about-s1-r3-left-bg-sm.png";
$about-s1__r3-col-left-bg-md: "../img/about-s1/about-s1-r3-left-bg-md.png";
$about-s1__r4-col-left-bg-xs: "../img/about-s1/about-s1-r4-left-bg-xs.png";
$about-s1__r4-col-left-bg-sm: "../img/about-s1/about-s1-r4-left-bg-sm.png";
$about-s1__r4-col-left-bg-md: "../img/about-s1/about-s1-r4-left-bg-md.png";
$body-bg: "../img/body-bg.jpg";
$border-bold-size: 3px;
$color-blk: #222;
$color-gray: #ddd;
$color-green: rgb(178,239,27);
$color-light-gray: #ccc;
$color-text-green: darken($color-green,10%);
$color-wht: #fff;
$cosmetic-s1-bg-lg: "../img/cosmetic-s1/cosmetic-s1-bg-lg.jpg";
$cosmetic-s1-bg-md: "../img/cosmetic-s1/cosmetic-s1-bg-md.jpg";
$cosmetic-s1-bg-sm: "../img/cosmetic-s1/cosmetic-s1-bg-sm.jpg";
$cosmetic-s1-bg-xs: "../img/cosmetic-s1/cosmetic-s1-bg-xs.jpg";
$diagnostic-s1-bg-lg: "../img/diagnostic-s1/diagnostic-s1-bg-lg.jpg";
$diagnostic-s1-bg-md: "../img/diagnostic-s1/diagnostic-s1-bg-md.jpg";
$diagnostic-s1-bg-sm: "../img/diagnostic-s1/diagnostic-s1-bg-sm.jpg";
$diagnostic-s1-bg-xs: "../img/diagnostic-s1/diagnostic-s1-bg-xs.jpg";
$font-header: 'Exo 2';
$font-logo: 'Lobster';
$font-menu: $font-header;
$font-text: 'Comfortaa';
$full-height: 100vh;
$half-height: 50vh;
$index-s4__col-left-bg: "../img/index-s4/index-s4-left-bg.jpg";
$index-s4__col-right-bg: "../img/index-s4/index-s4-right-bg.jpg";
$index-s5__col-left-bg-xs: $about-s1__r1-col-left-bg-xs;
$index-s5__col-left-bg-sm: $about-s1__r1-col-left-bg-sm;
$index-s5__col-left-bg-md: $about-s1__r1-col-left-bg-md;
$nav-item-active-border: solid $color-green;
$nav-item-active-border-size: 3px;
$nav-link-padding-y: 18px;
$navbar-brand-padding-y: 10px;
$navbar-height: 60px;
$navbar-padding: 0px;
$prevention-s1-bg-lg: "../img/prevention-s1/prevention-s1-bg-lg.jpg";
$prevention-s1-bg-md: "../img/prevention-s1/prevention-s1-bg-md.jpg";
$prevention-s1-bg-sm: "../img/prevention-s1/prevention-s1-bg-sm.jpg";
$prevention-s1-bg-xs: "../img/prevention-s1/prevention-s1-bg-xs.jpg";
$restorative-s1-bg-lg: "../img/restorative-s1/restorative-s1-bg-lg.jpg";
$restorative-s1-bg-md: "../img/restorative-s1/restorative-s1-bg-md.jpg";
$restorative-s1-bg-sm: "../img/restorative-s1/restorative-s1-bg-sm.jpg";
$restorative-s1-bg-xs: "../img/restorative-s1/restorative-s1-bg-xs.jpg";
$section-full-height:
    "about-s1",
    "contact-s1",
    "cosmetic-s1",
    "diagnostic-s1",
    "index-s4",
    "prevention-s1",
    "privacy-s1",
    "sedative-s1",
    "services-s1",
    "surgical-s1";
$section-half-height:
    "index-s2",
    "index-s3",
    "index-s5"
    "index-s6";
$section-top-height:
    "error-s1",
    "index-s1",
    "user-s1";
$sedative-s1-bg-lg: "../img/sedative-s1/sedative-s1-bg-lg.jpg";
$sedative-s1-bg-md: "../img/sedative-s1/sedative-s1-bg-md.jpg";
$sedative-s1-bg-sm: "../img/sedative-s1/sedative-s1-bg-sm.jpg";
$sedative-s1-bg-xs: "../img/sedative-s1/sedative-s1-bg-xs.jpg";
$services-s1-bg-lg: "../img/services-s1/services-s1-bg-lg.jpg";
$services-s1-bg-md: "../img/services-s1/services-s1-bg-md.jpg";
$services-s1-bg-sm: "../img/services-s1/services-s1-bg-sm.jpg";
$services-s1-bg-xs: "../img/services-s1/services-s1-bg-xs.jpg";
$surgical-s1-bg-lg: "../img/surgical-s1/surgical-s1-bg-lg.jpg";
$surgical-s1-bg-md: "../img/surgical-s1/surgical-s1-bg-md.jpg";
$surgical-s1-bg-sm: "../img/surgical-s1/surgical-s1-bg-sm.jpg";
$surgical-s1-bg-xs: "../img/surgical-s1/surgical-s1-bg-xs.jpg";